/* BASIC STUFF */
body {
    margin: 0;
    overflow: hidden;
}

:root {
    --dynamicOpacity: 1;
}

p {
    margin: 0;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}
.secondaryContainer {
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
}
.popDiv {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.text {
    background-image: linear-gradient(0deg, #A5734A, #EDD4AE, #fffff0);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat;
}


/* FONTS */
@font-face {
    font-family: 'Montserrat';
    src: url('./Font-Library/Montserrat.ttf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}


/* ANIMATIONS */
@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-in2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}
@keyframes fade-out2 {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
@keyframes glow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes unglow {
    0% {
        opacity: var(--dynamicOpacity);
    }
    100% {
        opacity: 0;
    }
}
@keyframes unlocking {
    100% {
        transform: translate(0, -10px);
    }
}


/* BACKGROUND */
.backgroundMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('./Image-Library/spawn.jpg');
    background-size: cover;
    background-position: center;
    transition: 500ms;
}


/* GLOBAL STATUS */
#bottomStatus {
    position: relative;
    margin: 0 0 10px 10px;
    width: fit-content
}

.menuSelection {
    position: absolute;
    z-index: 2;
    --heightMenu: 15.5px;
    --heightAdd: 46.5px;
    left: 74.3%;
    transform: translate(-50%, -50%);
    top: var(--heightAdd);
    font-family: Montserrat;
    font-size: x-large;
    cursor: default;
    white-space: nowrap;
}
.menuSelection:nth-child(2) {
    top: calc(15.5px + calc(var(--heightAdd) * 2));
}
.menuSelection:nth-child(3) {
    top: calc(30.75px + calc(var(--heightAdd) * 3));
}

#statusButton {
    height: 55px;
    cursor: pointer;
    display: flex;
    width: 210px;
    align-items: center;
    justify-content: center;
}
#statusButton:hover {
    background-image: linear-gradient(ivory, ivory);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#globalStatus {
    height: 217.719px;
}

.profilePicture {
    position: absolute;
    width: 140px;
    top: 48.5%;
    transform: translate(28%, -50%);
}


/* OPENABLE STATUS */
#openMenu {
    width: 500px;
    z-index: 5;
    position: absolute;
    display: none;
}
#openMenu[open] {
    animation:
        slide-up 750ms forwards,
        fade-in 500ms forwards;
}
#openMenu[close] {
    animation: fade-out 500ms forwards;
}

.blur {
    height: 100%;
    width: 100%;
    z-index: 4;
    position: fixed;
    display: none;
    background-color: black;
    opacity: 0;
}
#backgroundBlur2 {
    z-index: 12;
}
.blur[open] {
    animation: fade-in2 300ms forwards;
}
.blur[close] {
    animation: fade-out2 300ms forwards;
}

.headingCon {
    width: 500px;
    height: 731.025px;
    display: flex;
    justify-content: center;
    position: relative;
}

#statusHeading {
    position: absolute;
    top: 104px;
    font-family: Montserrat;
    font-size: xx-large;
}

.statusContainer {
    position: absolute;
    width: 500px;
    height: 631.025px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: Montserrat;
    gap: 0.5rem;
    margin-top: 100px;
}

.statusContainer p, #statusHeading {
    background-image: linear-gradient(0deg, #A5734A, #EDD4AE, ivory);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.statusContainer, #statusHeading {
    z-index: 10;
    cursor: default;
    display: none;
}

#statusHeading[appear], .statusContainer[appear] {
    animation: fade-in 300ms forwards;
}
#statusHeading[disappear], .statusContainer[disappear] {
    animation: fade-out 300ms forwards;
}


/* NAME MENU */
#backgroundStartBlur {
    height: 100%;
    width: 100%;
    z-index: 50;
    position: fixed;
    display: block;
    background-color: black;
    opacity: 0.5;
}
#backgroundStartBlur[closing] {
    animation: fade-out2 500ms forwards;
}

.containerName {
    z-index: 60;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerName[closing] {
    animation: fade-out 500ms forwards;
}

#nameMenu {
    width: 1200px;
}

.nameTxtContainer {
    width: 1200px;
    height: 555.344px;
    margin-top: 100px;
    position: absolute;
    z-index: 70;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nameTxtContainer p {
    font-size: x-large;
}

.headingName {
    position: absolute;
    font-size: xx-large;
    top: 115px;
}

.relNameDiv {
    position: absolute;
    width: 1200px;
    height: 655.344px;
    display: flex;
    justify-content: center;
}

#nameInput {
    font-size: xx-large;
    outline: none;
    border-width: 2.5px;
    border-image: linear-gradient(0deg, #A5734A, #EDD4AE, ivory) 1;
    padding: 5px 10px 5px 10px;
    text-align: center;
    caret-color: #b3947b;
}

#playArrow {
    fill: url(#gradient);
    width: 60px;
    height: 60px;
}
#playBtn:hover #playArrow {
    fill: ivory;
}

#playBtn {
    background: transparent;
    outline: none;
    border-width: 2.5px;
    border-image: linear-gradient(0deg, #A5734A, #EDD4AE, ivory) 1;
    padding: 10px 50px 10px 55px;
    cursor: pointer;
    border-radius: 1rem;
}


/* TEXT UI */
.textUiContainer {
    position: absolute;
    height: 100%;
    width: calc(100% - 485px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#textUiSvg {
    height: 217.712px;
    margin-bottom: 13.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.textUiContainer2 {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end
}

#textUI {
    position: absolute;
    height: 217.712px;
    width: 889.475px;
    margin-bottom: 13.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    word-wrap: break-word;
    white-space: normal;
    padding: 0 50px 0 50px;
    z-index: 3;
    font-size: x-large;
    cursor: default;
}

#hlUp, #hlDown, #hlLeft, #hlRight {
    opacity: 0;

}
#hlUp[glow], #hlDown[glow], #hlLeft[glow], #hlRight[glow] {
    animation: glow 1s infinite alternate;
}


/* ZONE CHANGING BUTTONS */
.zoneChangeCon {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#leftBtn, #rightBtn {
    z-index: 2;
    width: 60px;
    cursor: pointer;
}

#leftBtn {
    margin-left: 10px;
}
#rightBtn {
    margin-right: 10px;
}


/* SHOP STUFF */
.shopBtnCon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.shopBtnCon2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 150px;
}

.shopBtnImg {
    width: 250px;
    z-index: 2;
    position: relative;
}

.glow.glowing {
    animation: glow 1s infinite alternate;
}

.imgGlowCon {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.shopCon .glow {
    width: 210px;
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.swordGlow, .shopSwordGlow {
    top: 55px;
}
.armorGlow, .shopArmorGlow {
    top: 65px;
}


.shopText {
    position: absolute;
    font-size: x-large;
    bottom: 78px;
    cursor: default;
    margin: 0;
}

.shopSelection {
    width: 400px;
}

/* SCROLLER */
.shopScroller {
    width: 1050px;
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    z-index: 2;
    gap: 1rem;
    margin-top: calc(1rem + 15px);
    scroll-behavior: smooth;
    z-index: 5;
}

.shopScrollerWeapons {
    opacity: 0;
    display: none;
}
.shopScrollerArmors {
    opacity: 0;
    display: none;
}

.itemElement {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.item {
    position: absolute;
    width: 200px;
    top: 60px;
    z-index: 2;
}
.armor, .itemArmorElement .item {
    top: 70px;
}
.chainBRUH {
    top: 60px !important;
}
#chainArmorGlow {
    top: 55px;
}
.scrollerBase {
    width: 1200px;
    position: absolute;
    z-index: 4;

    opacity: 0;
    display: none;
}
.shopCon {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    height: 1rem;
}
::-webkit-scrollbar-track {
    background: transparent;
    border: 2px solid #C59563;
    border-radius: 100vw;
    margin-inline: 50px;
}
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(0deg, #A5734A, #EDD4AE, ivory);
    border: 2px solid #BA895A;
    border-radius: 100vw;
}


.shopProductChoice {
    width: 1050px;
    z-index: 5;
    display: flex;
    justify-content: space-evenly;

    opacity: 0;
    display: none;
}

.choiceElement {
    position: relative;
    display: flex;
    justify-content: center;
}

#shopChoiceBtn {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 25px;
    cursor: pointer;
    z-index: 5;
}

#shopChoiceBtn:hover ~ .shopText, .swordForSaleBtn:hover ~ .shopText, .armorForSaleBtn:hover ~ .shopText {
    background-image: linear-gradient(ivory, ivory);
}

.swordForSaleBtn, .armorForSaleBtn {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 25px;
    z-index: 3;
    cursor: pointer;
}

.scrollerBase[open], #itemDescription[open], #worldMapBase[open], #teleportMenuBase[open] {
    animation:
        slide-up 750ms forwards,
        fade-in 500ms forwards;
}
.scrollerBase[close], #itemDescription[close], #worldMapBase[close], #teleportMenuBase[close] {
    animation: fade-out 500ms forwards;
}

.shopProductChoice[appear],
.shopScrollerWeapons[appear],
.shopScrollerArmors[appear],
.descripTextCon[appear],
.descripHeadingCon[appear],
.checkmarkIcon[appear],
#worldMap[appear],
.zoneScroller[appear] {
    animation: fade-in 300ms forwards;
}
.shopProductChoice[disappear],
.shopScrollerWeapons[disappear],
.shopScrollerArmors[disappear],
.descripTextCon[disappear],
.descripHeadingCon[disappear],
#worldMap[disappear],
.zoneScroller[disappear] {
    animation: fade-out 300ms forwards;
}

#itemDescription {
    z-index: 13;
    width: 500px;
    position: absolute;
}

.descripTextCon, .descripHeadingCon {
    position: absolute;
    height: 731.016px;
    width: 500px;
    font-family: Montserrat;
    z-index: 14;
    display: flex;
    justify-content: center;
}

.descripTextCon {
    font-size: x-large;
    flex-direction: column;
    align-items: center;
    height: 631.016px;
    margin-top: 100px;
    cursor: default;
}
.descripHeadingCon {
    font-size: xx-large;
}

#descripHeading {
    position: absolute;
    top: 104px;
}

#shopBuyingBtn {
    z-index: 14;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    bottom: 155.2px;
    width: 235px;
    height: 61.703px;
    cursor: pointer;
}

#shopBuyingBtn:hover > .buyingText {
    background-image: linear-gradient(ivory, ivory);
}

.descripTextCon, .descripHeadingCon, #itemDescription {
    display: none;
    opacity: 0;
}


.productLocked {
    position: absolute;
    z-index: 5;
}

.itemElement.unlocked #lockArm, .zoneElement.unlocked #lockArmZone {
    animation: unlocking 1s ease forwards;
}
.productLocked[disappear], .zoneLocked[disappear] {
    animation: fade-out 500ms forwards;
}
.productLocked[unlocked], .zoneLocked[unlocked] {
    opacity: 0;
    z-index: -1;
}

.checkmarkIcon {
    position: absolute;
    width: 30px;
    bottom: 50px;
    right: 50px;

    opacity: 0;
    display: none;
}
.itemElement.purchased .checkmarkIcon {
    opacity: 1;
    display: block;
}


/* EVENT BUTTONS */
#eventBtnBase {
    width: 150px;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    margin: 10px 10px 0 0;
}

.eventBtnDiv {
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 10px 0 0;
    z-index: 3;
    cursor: pointer;
}


#mapPiece1, #mapPiece2, #mapPiece3, #shopIcon, #heartIcon, #gateIcon,
#part1,
#part2,
#part3,
#part4,
#part5,
#part6,
#part7,
#part8,
#part9,
#part10,
#part11 {
    fill: url(#myGradientUltraMega);
}

#spawnEventBtn:hover #mapPiece1,
#spawnEventBtn:hover #mapPiece2,
#spawnEventBtn:hover #mapPiece3,
#shopEventBtn:hover #shopIcon,
#fountainEventBtn:hover #heartIcon,
#gateEventBtn:hover #part1,
#gateEventBtn:hover #part2,
#gateEventBtn:hover #part3,
#gateEventBtn:hover #part4,
#gateEventBtn:hover #part5,
#gateEventBtn:hover #part6,
#gateEventBtn:hover #part7,
#gateEventBtn:hover #part8,
#gateEventBtn:hover #part9,
#gateEventBtn:hover #part10,
#gateEventBtn:hover #part11 {
    fill: ivory;
}

.eventBtnDiv[appear] {
    animation: fade-in 500ms forwards ease;
}
.eventBtnDiv[disappear] {
    animation: fade-out 500ms forwards ease;
}



#shopEventBtn, #fountainEventBtn, #gateEventBtn {
    visibility: hidden;
    z-index: -1;
    opacity: 0;
}

.worldMapCon {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#worldMapBase, #worldMap {
    position: absolute;
    width: 1200px;
    z-index: 5;

    display: none;
    opacity: 0;
}
#worldMap {
    z-index: 6;
}



.teleportMenuCon {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#teleportMenuBase {
    width: 1200px;
    position: absolute;
    z-index: 4;

    opacity: 0;
    display: none;
}

.zoneScroller {
    width: 1050px;
    display: grid;
    grid-auto-flow: column;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    z-index: 2;
    gap: 1rem;
    margin-top: calc(1rem + 15px);
    scroll-behavior: smooth;
    z-index: 5;

    opacity: 0;
    display: none;
}

.zoneElement {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.zoneSelection {
    width: 400px;
}

.zoneText {
    position: absolute;
    font-size: x-large;
    bottom: 78px;
    cursor: default;
    margin: 0;
}

.zoneLocked {
    position: absolute;
    z-index: 5;
}

.zoneTeleportBtn {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 25px;
    z-index: 3;
    cursor: pointer;
}

.zoneTeleportBtn:hover ~ .zoneText { 
    background-image: linear-gradient(ivory, ivory);
}