/* BASIC STUFF */
body {
    margin: 0;
    overflow: hidden;
}

p {
    margin: 0;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}
.secondaryContainer {
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
}
.popDiv {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

.text {
    background-image: linear-gradient(0deg, #A5734A, #EDD4AE, ivory);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat;
}

/* FONTS */
@font-face {
    font-family: 'Montserrat';
    src: url('./Font-Library/Montserrat.ttf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}


/* ANIMATIONS */
@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-in2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}
@keyframes fade-out2 {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

/* BACKGROUND */
.backgroundMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('./Image-Library/spawn.jpg');
    background-size: cover;
    background-position: center;
    transition: 500ms;
}

#hola {
    position: absolute;
    top: 0;
}

/* GLOBAL STATUS */
#bottomStatus {
    position: relative;
    margin: 0 0 10px 10px;
    width: fit-content
}

.menuSelection {
    position: absolute;
    z-index: 2;
    --heightMenu: 15.5px;
    --heightAdd: 46.5px;
    left: 74.3%;
    transform: translate(-50%, -50%);
    top: var(--heightAdd);
    font-family: Montserrat;
    font-size: x-large;
    cursor: default;
    white-space: nowrap;
}
.menuSelection:nth-child(2) {
    top: calc(15.5px + calc(var(--heightAdd) * 2));
}
.menuSelection:nth-child(3) {
    top: calc(30.75px + calc(var(--heightAdd) * 3));
}

#statusButton {
    cursor: pointer;
}
#statusButton:hover {
    background-image: linear-gradient(ivory, ivory);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#globalStatus {
    height: 217.719px;
}

.profilePicture {
    position: absolute;
    width: 140px;
    top: 48.5%;
    transform: translate(28%, -50%);
}


/* OPENABLE STATUS */
#openMenu {
    width: 500px;
    z-index: 5;
    position: absolute;
    display: none;
}
#openMenu[open] {
    animation:
        slide-up 750ms forwards,
        fade-in 500ms forwards;
}
#openMenu[close] {
    animation: fade-out 500ms forwards;
}

#backgroundBlur {
    height: 100%;
    width: 100%;
    z-index: 4;
    position: fixed;
    display: none;
    background-color: black;
    opacity: 0;
}
#backgroundBlur[open] {
    animation: fade-in2 300ms forwards;
}
#backgroundBlur[close] {
    animation: fade-out2 300ms forwards;
}

.headingCon {
    width: 500px;
    height: 731.025px;
    display: flex;
    justify-content: center;
    position: relative;
}

#statusHeading {
    position: absolute;
    top: 104px;
    font-family: Montserrat;
    font-size: xx-large;
}

.statusContainer {
    position: absolute;
    width: 500px;
    height: 631.025px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: Montserrat;
    gap: 0.5rem;
    margin-top: 100px;
}

.statusContainer p, #statusHeading {
    background-image: linear-gradient(0deg, #A5734A, #EDD4AE, ivory);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.statusContainer, #statusHeading {
    z-index: 10;
    cursor: default;
    display: none;
}

#statusHeading[appear], .statusContainer[appear] {
    animation: fade-in 300ms forwards;
}
#statusHeading[disappear], .statusContainer[disappear] {
    animation: fade-out 300ms forwards;
}


/* NAME MENU */
#backgroundStartBlur {
    height: 100%;
    width: 100%;
    z-index: 50;
    position: fixed;
    display: block;
    background-color: black;
    opacity: 0.5;
}
#backgroundStartBlur[closing] {
    animation: fade-out2 500ms forwards;
}

.containerName {
    z-index: 60;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerName[closing] {
    animation: fade-out 500ms forwards;
}

#nameMenu {
    width: 1200px;
}

.nameTxtContainer {
    width: 1200px;
    height: 555.344px;
    margin-top: 100px;
    position: absolute;
    z-index: 70;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nameTxtContainer p {
    font-size: x-large;
}

.headingName {
    position: absolute;
    font-size: xx-large;
    top: 115px;
}

.relNameDiv {
    position: absolute;
    width: 1200px;
    height: 655.344px;
    display: flex;
    justify-content: center;
}

#nameInput {
    font-size: xx-large;
    outline: none;
    border-width: 2.5px;
    border-image: linear-gradient(0deg, #A5734A, #EDD4AE, ivory) 1;
    padding: 5px 10px 5px 10px;
    text-align: center;
    caret-color: #b3947b;
}

#playArrow {
    fill: url(#gradient);
    width: 60px;
    height: 60px;
}
#playBtn:hover #playArrow {
    fill: ivory;
}

#playBtn {
    background: transparent;
    outline: none;
    border-width: 2.5px;
    border-image: linear-gradient(0deg, #A5734A, #EDD4AE, ivory) 1;
    padding: 10px 50px 10px 55px;
    cursor: pointer;
    border-radius: 1rem;
}


/* TEXT UI */
.textUiContainer {
    position: absolute;
    height: 100%;
    width: calc(100% - 485px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#textUiSvg {
    height: 217.712px;
    margin-bottom: 13.5px;
}

.textUiContainer2 {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end
}

#textUI {
    position: absolute;
    height: 217.712px;
    width: 889.475px;
    margin-bottom: 13.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    word-wrap: break-word;
    white-space: normal;
    padding: 0 50px 0 50px;
    z-index: 2;
    font-size: x-large;
    cursor: default;
}