/* BASIC STUFF */
body {
    margin: 0;
}

#containerMenu {
    margin-top: 104px;
    height: calc(100vh - 104px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}


/* FONTS */
@font-face {
    font-family: 'Heading';
    src: url('./Font-Library/heading.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('./Font-Library/Montserrat.ttf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}


/* ANIMATIONS */
@keyframes rotate {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(+10deg); }
    100% { transform: rotate(0deg); }
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-in2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}
@keyframes fade-out2 {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@keyframes turnON {
    0% {
        transform: translate(0px);
    }
    100% {
        transform: translate(47.2px);
    }
}
@keyframes turnOFF {
    0% {
        transform: translate(0px);
    }
    100% {
        transform: translate(-47.2px);
    }
}

/* BACKGROUND */
.backgroundMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('./Image-Library/plains.jpg');
    background-size: cover;
    background-position: center;
    transition: 500ms;
}


/* MENU */
#menu {
    width: 400px;
}

#menuDiv {
    margin-left: 4rem;
    position: relative;
    z-index: 1;
}

.menuSelection {
    position: absolute;
    z-index: 2;
}

.menuSelection {
    --heightMenu: 127px;
    --heightAdd: 104px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: var(--heightMenu);
    font-family: Montserrat;
    font-size: x-large;
}

a {
    cursor: pointer;
    background-image: linear-gradient(0deg, #A5734A, #EDD4AE, ivory);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:hover {
    background-image: linear-gradient(ivory, ivory);
}


#menuDiv .menuSelection:nth-child(2) {
    top: calc(var(--heightMenu) + calc(var(--heightAdd) * 1));
}
#menuDiv .menuSelection:nth-child(3) {
    top: calc(var(--heightMenu) + calc(var(--heightAdd) * 2));
}
#menuDiv .menuSelection:nth-child(4) {
    top: calc(var(--heightMenu) + calc(var(--heightAdd) * 3));
}


/* MAXWELL */
.maxwellContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    width: 100%;
    animation: rotate 5s infinite;
}

#maxwell {
    width: 600px;
    position: relative;
}

.gear {
    position: absolute;
}

#sword {
    width: 250px;
    position: absolute;
    right: 120px;
    top: 0px;
}

#armor {
    width: 300px;
    position: absolute;
    bottom: 0px;
    right: 2px;
}


/* HEADING */
.header {
    display: flex;
    position: fixed;
    top: 0;
    color: ivory;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: Heading;
    z-index: 5;
}

.header p {
    margin: 4rem 0 0 0;
    background-image: linear-gradient(0deg, #A5734A, #EDD4AE);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}

.header .top {
    z-index: 1;
    position: relative;
}
.header .bottom {
    text-shadow: 3px 3px 10px #1A2540;
    position: absolute;
}


/* OPENABLE MENU */
#openableMenu{
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
}

#openableMenu svg {
    width: 1200px;
    display: none;
}

#openableMenu svg[open] {
    animation:
        slide-up 750ms forwards,
        fade-in 500ms forwards;
}

#openableMenu svg[close] {
    animation: fade-out 500ms forwards;
}

#backgroundBlur {
    height: 100%;
    width: 100%;
    z-index: 50;
    position: fixed;
    margin-bottom: 104px;
    display: none;
    background-color: black;
    opacity: 0;
}
#backgroundBlur[open] {
    animation: fade-in2 300ms forwards;
}
#backgroundBlur[close] {
    animation: fade-out2 300ms forwards;
}


#OFF {
    cursor: pointer;
    position: relative;
}

#OFF2 {
    display: none;
    position: relative;
}
#OFF2[turningOFF] {
  animation: turnOFF 500ms forwards;
}

#ON {
    cursor: pointer;
    position: relative;
    display: none;
}
#ON[turningON] {
    animation: turnON 500ms forwards;
}


#openableMenu .text {
    font-family: Montserrat;
    /* position: absolute; */
    font-size: x-large;
    top: 83px;
    background-image: linear-gradient(0deg, #A5734A, #EDD4AE, ivory);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
#openableMenu #opmHeading {
    font-size: xx-large;
    position: absolute;
    top: 115px;
}

.textContainer {
    position: absolute;
    height: 655.350px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
}

#opmHeading, .textContainer {
    display: none;
    opacity: 0;
    z-index: 99;
}

#opmHeading[appear], .textContainer[appear] {
    animation: fade-in 300ms forwards;
}
#opmHeading[disappear], .textContainer[disappear] {
    animation: fade-out 300ms forwards;
}

@media screen and (height < 760px) {
    #openableMenu {
        margin-bottom: 50px;
    }

    .header p {
        margin-top: 3rem;
    }
}